# assets/*
# results/*
__pycache__/*
*.pyc
assets/*
!assets/demo/images/*
results/*
logs/*
pretrained_models/
.conda_envs/
.conda_pkgs_cache/
.pip_cache/
.cache/
datasets/preprocess_scripts/landmark.onnx
